
@{
    ViewBag.Title = "Booking Form";
}

@section styles {
    <styles>
        .booking-header{
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
        border-radius: 15px;
        margin-bottom: 30px;
        }
        .booking-header h2{
        color: #343a40;
        font-weight: bold;
        }
        .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        .btn-custom {
        background-color: #007bff;
        color: white;
        border-radius: 5px
        }
        .btn-custom:hover {
        background-color: #0056b3;}
    </styles>
    }

<div class="booking-header"> 
    <h2>Book your </h2>
