
@{
    ViewBag.Title = "Basic Life Support";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4 text-success">Basic Life Support Booking</h2>
    @Html.Partial("_BookingForm", "Basic Life Support")
</div>

