
@{
    ViewBag.Title = "Event Medical Ambulance";
}

<div class="container mt-4">
    <h2 class="mb-4 text-success">Event Medical Ambulance Booking</h2>
    @Html.Partial("_BookingForm", "Event Medical Ambulance")
</div>


