
@{
    ViewBag.Title = "Medical Utility Vehicle";
}

<div class="container mt-4">
    <h2 class="mb-4 text-success">MAdical Utility Vehicle Booking</h2>
    @Html.Partial("_BookingForm", "Medical Utiity")
</div>



